.housing-background{
    height: 300px;
    width: 100vw;
    background-image: url(../assets/best-ai-art-prompts-midjourney-space-1024x585.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}



.housing-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.housing-wrapper{
    width: 80%;
    margin-top: 20px;
}
.housing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0px 5px 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: rgba(14, 29, 71, 0.25) 0px 0.0625em 0.0625em, rgba(14, 29, 71, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.housing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;

}

.housing-content {
    width: 50%;
}

.housing-img {
    height: 150px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 770px) {

    .housing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .housing-content{
        margin-left: auto;
    }

    .housing-header{
        margin-left: auto;
    }

    .housing-img{
    width: 100%;
    }
}